body{
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
    margin:0; 
    background:url(fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
}
*{
    box-sizing: border-box;
}